
html,body{
   height: 100%;
    margin: 0%;
    color: white;
background-color: black;
overflow: hidden;
}
input{

    padding: 10px;
}
#div{
    color:  rgb(255, 166, 0);
    position: absolute;
    right: 1px;
    top: 3%;
   font-size: 20px;
 } 
#circle{
    height: 50px;
    position: absolute;
    width: 120px;
    display: none;
    pointer-events: none;
    background-color: white;
display: none;

justify-content: center;
align-items: center;
  }
.small-square{
  width: 60.9px;
  height:40px;
}